body {
    padding: 0;
    margin: 0;
    background: #561d01;
}

* {
    transition: all 0.25s ease;
}

/* Settings box 
****************/
heart {color: red;}
.hideKey {
    float: right; 
    font-size: 24px; 
    margin-top: 4px;
    color: red;
    text-shadow: 1px 1px 6px #000;
    cursor: pointer;
    /*transform:rotate(180deg)*/
} .hideKey::selection {display: none;}

.form-control {width: 200px;}
/* Pick a Date Box */
.bootstrap-iso {
    background: #7d6c6c;
    width: 100%;
    padding: 25px;
    color: white;
    margin-top: -40%;
}
@media (min-width: 768px) { 
    .bootstrap-iso {
        margin-top: -10%;
    }
    .display-5 {
        font-size: 36px !important;
    }
}

/* Content 
**********/
.container {
    margin-top: 3em;
}

.display-5 {
    font-family: cursive;
    font-size: 20px;
}